@import 'reset';



/* LANDING TEST STYLE BEGIN */
/* LANDING TEST STYLE BEGIN */
/* LANDING TEST STYLE BEGIN */

$tabletMaxWidth: 1439px;
$mobileMaxWidth: 767px;


$gradient-blue: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
$gradientLightBlue: linear-gradient(270deg, #00B8F0 0%, #B2EEFC 73.96%);
$textColor: #2D3238;
$lightBlue: #E8F4F7;
$footerBlue: #F3F9FF;
$borderBlue: rgba(56, 152, 254, 0.4);
$borderLightBlue: rgba(56, 152, 254, 0.187528);
$middleBlue: rgba(56, 152, 254, 0.3);
$blue: #1792C7;
$veryBlue: #00B8F0;
$grey: rgba(85, 94, 104, 0.5);
$burgerBlue: #1399CF;
$navscreenLink: #555E68;
$sliderButtonBorder: #B2EEFC;

$blackShadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);

$debugBorder:
    /* 1px solid black; */
    0;

@font-face {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    src: local('Avenir-Next-Regular'),
        url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 500;
    src: local('Avenir-Next-Medium'),
        url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 600;
    src: local('Avenir-Next-Semibold'),
        url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2');
}

@font-face {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 700;
    src: local('Avenir-Next-Bold'),
        url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2');
}

@mixin desktop-h1 {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.985946px;
    color: $textColor;
}

@mixin mobile-h1 {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.985946px;
    color: $textColor;
}

@mixin desktop-text-info {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.443077px;
    color: $textColor;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: $textColor;
    padding-top: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    word-wrap: break-word;
}

label {
    display: none;
}

.wrapper {
    max-width: 1098px;
    margin: 0 auto;
}

/* Header styles start */
.header {
    z-index: 2;
    top: 0;
}

.header__burger {
    display: none;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    border: $debugBorder;
}

.header__logo {
    align-self: center;
    padding-top: 9px;
}

.header__nav {
    align-self: center;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 39px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 14px;
    line-height: 19px;
    color: $textColor;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $grey;
    }
}

.header__link:active {
    color: $blue;
}

.header__lang {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.header__lang-item-link {
    font-size: 16px;
    line-height: 22px;
    color: $textColor;
    text-decoration: none;
}

.header__lang-item-link:first-child {
    margin-left: 12px;
}

.header__lang-item-link__chosen {
    font-size: 16px;
    line-height: 22px;
    background: $gradient-blue;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid $veryBlue;
    text-decoration: none;
}

.header__button {
    padding: 13px 28px 13px 28px;

    position: relative;
    background: white;
    border-radius: 44px;
    border: none;
    transition: all .5s ease-in;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background-image: $gradient-blue;
    }

    &:hover {
        box-shadow: $blackShadow;
    }
}

.header__btn-span {
    font-family: 'Avenir-Next';
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    background: $gradient-blue;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Header styles end */

/* Mobile-navscreen styles start */
.header__mobile-navscreen {
    display: none;
    z-index: 2;
}

/* Mobile-navscreen styles end */

/* Slider styles start */
.slider__container {
    width: 100%;
    overflow: hidden;
}

.slider__frame-row {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0px;
}

.slider__money,
.slider__pig,
.slider__snapshot,
.slider__phone {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    border: $debugBorder;

    border: $debugBorder;

    min-width: 1098px;
    overflow: hidden;
}

.slider__money,
.slider__pig {
    justify-content: space-between;
}

.slider__money-img,
.slider__pig-img {
    margin-right: 60px;
}

.slider__money-header,
.slider__pig-header,
.slider__snapshot-header,
.slider__phone-header {
    @include desktop-h1;
    padding-bottom: 10px;
}

.slider__money-info {
    padding: 50px 0 0 0;
    width: 498px;
}

.slider__pig-info {
    padding: 50px 0 0 0;
    width: 470px;
}

.slider__snapshot-info {
    padding: 50px 0 0 0;
    width: 470px;
}

.slider__phone-info {
    padding: 50px 0 0 0;
    width: 515px;
    margin-right: 80px;
}

.slider__money-p,
.slider__pig-p,
.slider__snapshot-p {
    @include desktop-text-info;
}

.slider__money-form,
.slider__pig-form,
.slider__snapshot-form,
.slider__phone-form {
    width: 440px;
    height: 48px;
    background: $lightBlue;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.slider__money-email-done,
.slider__pig-email-done,
.slider__snapshot-email-done,
.slider__phone-email-done {
    margin: auto;

    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.96px;

    display: none;
}

.slider {
    input[type=text] {
        padding-left: 20px;
        border: 0;

        width: 100%;

        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.96px;
        border-radius: 44px;
        background: $lightBlue;
        color: $textColor;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $blue;
        }
    }

    input[type=submit] {
        padding: 12px 53px 12px 53px;
        background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
        border-radius: 44px;
        border: 0;
        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.443077px;
        color: white;

        transition: all .5s ease-in;

        &:hover {
            -webkit-box-shadow: $blackShadow;
            box-shadow: $blackShadow;
        }
    }
}

.slider__button-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: $debugBorder;
}

.slider__button {
    background: white;
    width: 15px;
    height: 15px;

    border: 1px solid $sliderButtonBorder;
    border-radius: 15px;

    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
        width: 15px;
        height: 15px;
        border-radius: 15px;

        margin-left: 15px;
        margin-right: 15px;

        border: none;
        background: $gradient-blue;
    }
}

.slider__button__displayed {
    width: 15px;
    height: 15px;
    border-radius: 15px;

    margin-left: 15px;
    margin-right: 15px;

    border: none;
    background: $gradient-blue;
}

/* Slider styles end */

/* Offer section style begin */
.offer {
    margin-top: 140px;
}

.offer__bg-pic {
    position: absolute;
    right: 50px;
    transform: translate(2%, -65%);
    z-index: -1;
}

.offer__wrapper {
    border: $debugBorder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offer__text {
    align-self: center;
}

.offer__h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.44px;
    display: block;
    width: 534px;
    margin-bottom: 24px;
}

.offer__paragraph {
    @include desktop-text-info;
    display: block;
    width: 530px;
}

/* Offer section style begin */


/* Description section style begin */
.description {
    margin-top: 120px;
}

.description__wrapper {
    border: $debugBorder;
    display: flex;
    flex-direction: column;
}

.description__h1 {
    @include desktop-h1;
    display: block;
    width: 534px;
    margin-bottom: 24px;
    margin-bottom: 90px;
}

.description__image {
    width: 240px;
    height: 140px;
    margin: 0 auto;
}

.description__panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.description__item {
    max-width: 346px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.description__caption {
    @include desktop-text-info;
    text-align: center;
    margin-top: 40px;
}

.description__bg-pic-2 {
    position: absolute;
    transform: translate(-64%, 39%);
    z-index: -1;
}

/* Description section style end */

/* Automate section style begin */
.automate {
    margin-top: 150px;
}

.automate__wrapper {
    border: $debugBorder;
    background: $lightBlue;
    padding-bottom: 60px;
    background-image: url("../img/bg-lattice.svg");
    background-repeat: no-repeat;
    background-position: 85% -15%;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
}

.automate__h1 {
    @include desktop-h1;
    max-width: 434px;
    margin-left: 94px;
}

.automate__panel {
    display: inline-block;
    margin-left: 35px;
}

.automate__paragraph {
    @include desktop-text-info;
    width: 434px;
    display: inline-block;
    margin-bottom: 60px;
    padding-top: 10px;
}

.automate__form {
    width: 440px;
    height: 48px;
    background: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid $borderBlue;

    input[type=text] {
        padding-left: 20px;
        border: 0;

        width: 100%;

        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border-radius: 44px;
        letter-spacing: 0.96px;
        color: $textColor;

        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        &::placeholder {
            color: $blue;
        }

        &:focus {
            outline: 0;
        }
    }

    input[type=submit] {
        padding: 12px 53px 12px 53px;
        background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
        border-radius: 44px;
        border: 0;
        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.443077px;
        color: white;

        transition: all .5s ease-in;

        &:hover {
            box-shadow: $blackShadow;
        }
    }
}

.automate__email-done {
    margin: auto;

    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.96px;

    display: none;
}

/* Automate section style end */

/* Banks section style begin */
.banks {
    margin-top: 140px;
}

.banks__wrapper {
    border: $debugBorder;
}

.banks__h1 {
    @include desktop-h1;
    margin-bottom: 90px;
}

.banks__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banks__panel-item {
    width: 534px;
    border: 1px solid $borderLightBlue;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
}

.banks__item-caption {
    @include desktop-text-info;
    color: rgba(56, 152, 254, 0.5);
}

.banks__p {
    @include desktop-text-info;
    color: $textColor;
}

.banks__hr {
    margin-bottom: 5px;
    border-top-color: $borderLightBlue;
}

.banks__list {
    margin-top: 36px;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }
}

.banks__list img {
    margin-right: 32px;
}

/* Banks section style end */

/* Audience section style begin */
.audience {
    margin-top: 160px;
}

.audience__wrapper {
    border: $debugBorder;
}

.audience__h1 {
    @include desktop-h1;
    margin-bottom: 90px;
}

.audience__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.audience__item {
    width: 345px;
    text-align: center;
}

.audience__h3 {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.44px;
    padding-left: 65px;
    margin-bottom: 14px;
    text-align: left;
    margin-top: 40px;
}

.audience__image {
    margin: auto;
}

.audience__p {
    @include desktop-text-info;
    padding-left: 65px;
    text-align: left;
}

.audience__bg-pic {
    position: absolute;
    right: 0px;
    transform: translate(0%, 30%);
    z-index: -1;
}

/* Audience section style end */

/* Cases section style begin */
.cases {
    margin-top: 190px;
}

.cases__wrapper {
    border: $debugBorder;
}

.cases__h1 {
    @include desktop-h1;
    margin-bottom: 90px;
}

.cases__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cases__item {
    width: 346px;
    min-height: 297px;
    padding: 30px 0 0 24px;
    border: 1px solid $borderLightBlue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.cases__panel .cases__item:first-child {
    background: $lightBlue;
    border: none;
    border-bottom: 3px solid #1792C7;
}

.cases__panel div:first-child {
    margin: 0;
}

.cases__h3 {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.44px;
}

.cases__span {
    display: block;
    padding: 20px 0 20px 0;
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.369231px;

    background-image: $gradient-blue;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cases__arrow {
    transform: translate(0, 4px);
}

.cases__button-container {
    display: none;
}


.cases__bg-pic {
    position: absolute;
    left: -25px;
    transform: translate(0%, -70%);
    z-index: -1;
}

/* Cases section style end */

/* Tariffs section style start */
.tariffs {
    margin-top: 110px;
}

.tariffs__wrapper {
    display: grid;
    grid-template-areas:
        'header img'
        'summary img'
        'form img';
    grid-template-columns: 565px 461px;
    justify-content: space-between;
    border: $debugBorder;
}

.tariffs__text-wrapper {
    width: 564px;
    margin-top: 44px;
}

.tariffs__h1 {
    @include desktop-h1;
    margin-bottom: 28px;
    grid-area: header;
}

.tariffs__p {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.713846px;
    margin-bottom: 40px;
    grid-area: summary;
}

.tariffs__img {
    grid-area: img;
}

.tariffs__form {
    width: 440px;
    height: 48px;
    background: $lightBlue;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    grid-area: form;
    margin: auto auto auto 0;

    input[type=text] {
        padding-left: 20px;
        border: 0;

        width: 100%;

        border-radius: 44px;

        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.96px;
        background: $lightBlue;
        color: $textColor;

        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        &::placeholder {
            color: $blue;
        }

        &:focus {
            outline: 0;
        }
    }

    input[type=submit] {
        padding: 12px 53px 12px 53px;
        background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
        border-radius: 44px;
        border: 0;
        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.443077px;
        color: white;

        transition: all .5s ease-in;

        &:hover {
            box-shadow: $blackShadow;
        }
    }
}

.tariffs__email-done {
    margin: auto;

    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.96px;

    display: none;
}

/* Tariffs section style end */

/* Coming soon section style start */
.coming-soon {
    margin-top: 130px;
}

.coming-soon__wrapper {
    border: $debugBorder;
}

.coming-soon__h1 {
    @include desktop-h1;
    margin-bottom: 40px;
}

.coming-soon__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 95px 50px 0;
    border-bottom: 1px solid $lightBlue;
    border-top: 1px solid $lightBlue;
}

.coming-soon__wrapper div:first-of-type {
    border-top: none;
}

.coming-soon__h2 {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.44px;
    display: block;
    float: left;
    min-width: 509px;
}

.coming-soon__p {
    @include desktop-text-info;
    display: inline-block;
    width: 438px;

    &::before {
        content: url('../img/p-dash.svg');
        font-size: 70px;
        transform: translate(-130%, -60%);
        position: absolute;
    }
}

.coming-soon__h3 {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.44px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

/* Coming soon section style end */

/* Safety soon section style begin */
.safety {
    margin-top: 160px;
}

.safety__wrapper .safety__img-wrapper:first-child {
    display: none;
}

.safety__h1-mobile {
    display: none;
}

.safety__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: $debugBorder;
}

.safety__img {
    display: block;
    margin-left: 60px;
}

.safety__text {
    margin-left: 80px;
    width: 564px;
}

.safety__h1 {
    @include desktop-h1;
    margin-top: 35px;
}

.safety__p {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.713846px;
    margin-top: 28px;
}

/* Safety soon section style end */

/* Footer style start */
.footer {
    background: $footerBlue;
    padding-bottom: 110px;
    margin-top: 85px;
    background-image: url("../img/bg-lattice.svg");
    background-repeat: no-repeat;
    background-position: -3% 82%;
}

.footer__wrapper {
    border: $debugBorder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__text {
    margin-top: 80px;
}

.footer__h1 {
    @include desktop-h1;
    margin-bottom: 28px;
}

.footer__h2 {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.713846px;
    margin-bottom: 18px;
}

.footer__h2 {
    width: 417px;
}

.footer__email-caption {
    display: block;
    color: $middleBlue;
}

.footer__contact-info {
    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.713846px;
}

.footer__form {
    margin-top: 156px;
}

#footer__form-p {
    @include desktop-text-info;
    max-width: 440px;
    display: none;
}

#footer__form-name,
#footer__form-email {
    width: 440px;
    height: 43px;
    border-radius: 40px;
    border: 1px solid $borderBlue;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;

    @include desktop-text-info;

    outline: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#footer__form-textarea {
    width: 440px;
    height: 68px;
    border-radius: 20px;
    border: 1px solid $borderBlue;

    @include desktop-text-info;

    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;

    resize: none;
    outline: none;
}

#footer__form-name::placeholder,
#footer__form-email::placeholder,
#footer__form-textarea::placeholder {
    color: $blue;
}

#footer__form-submit {
    padding: 13px 28px 13px 28px;
    background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
    border-radius: 44px;
    border: 0;

    font-family: 'Avenir-Next';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.369231px;
    color: white;

    transition: all .5s ease-in;

    &:hover {
        box-shadow: $blackShadow;
    }

    &:focus {
        outline: none;
    }
}

.footer__bottom {
    border: $debugBorder;
}

.footer__copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;

    margin-top: 52px;
}

.footer__confidentiality {
    @include desktop-text-info;
    margin-top: 40px;
    display: block;
    margin-left: 743px;
    text-decoration: none;
    color: $veryBlue;
}

.footer__confidentiality:visited {
    color: $veryBlue;
}

/* Footer style end */

@media only screen and (max-width: $tabletMaxWidth) {

    /* For tablet: */
    .wrapper {
        max-width: 83vw;
    }

    /* HEADER: */
    .header {
        position: sticky;
        top: 0;
        background: white;
        padding: 10px 0px 10px 0px;
    }

    .header__opened {
        position: fixed;
        top: 0px;
        left: 0px;
        padding-top: 45px;
        padding-bottom: 0;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }

    .header__nav,
    .header__lang,
    .header__button {
        display: none;
    }

    .header__burger {
        display: block;
        transform: translate(0, -3px);

        input {
            display: block;
            width: 33px;
            height: 33px;
            position: relative;
            top: -7px;
            left: -5px;
            margin-top: -33px;

            transform: translate(0, 100%);

            cursor: pointer;

            opacity: 0;

            z-index: 2;

            -webkit-touch-callout: none;

            &:checked~span {
                opacity: 1;
                transform: rotate(45deg) translate(3px, -3px);
            }

            &:checked~span:nth-last-child(1) {
                transform: rotate(-45deg) translate(0, 7px);
            }
        }

        span {
            display: block;
            width: 27px;
            height: 4px;
            margin-bottom: 6px;
            position: relative;

            background: $burgerBlue;

            z-index: 1;

            transform-origin: 4px 0px;

            transition: transform 0.5s ease-in,
                background 0.5s ease-in,
                opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
                display: none;
            }

            &:nth-last-child(1) {
                transform-origin: 0% 100%;
            }
        }
    }

    /* HEADER: */

    /*MOBILE NAVIGATION SCREEN */
    .header__mobile-navscreen {
        width: 100%;
        height: 100%;
        background: white;
        height: 100vh;
    }

    .header__mobile-navscreen-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            margin-bottom: 32px;

            a {
                font-family: 'Avenir-Next';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 33px;
                text-align: center;
                letter-spacing: 0.96px;

                text-decoration: none;
                color: $navscreenLink;
            }

            :last-child {
                margin-bottom: 0px;
            }

            button {
                background: $gradient-blue;

                font-family: 'Avenir-Next';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.369231px;
                color: white;

                margin-top: 4px;
                padding: 13px 40px;

                border: none;
                border-radius: 44px;
            }
        }
    }

    /* NAVIGATION SCREEN: */

    /* SLIDER: */
    .slider__money,
    .slider__pig {
        justify-content: initial;
    }

    .slider__money-img,
    .slider__pig-img,
    .slider__snapshot-img,
    .slider__phone-img {
        width: 350px;
        height: auto;
    }

    .slider__money-img,
    .slider__pig-img {
        margin-right: initial;
    }

    .slider__money,
    .slider__pig,
    .slider__snapshot,
    .slider__phone {
        min-width: 83vw;
        flex-direction: column;
        align-items: center;
    }

    .slider__money-header,
    .slider__pig-header,
    .slider__snapshot-header,
    .slider__phone-header {
        font-size: 48px;
        line-height: 54px;
        letter-spacing: 0.985946px;

        text-align: center;
        padding-bottom: 0;
        margin-bottom: 24px;
    }

    .slider__money-p,
    .slider__pig-p,
    .slider__snapshot-p,
    .slider__phone-p {
        text-align: center;
        margin-bottom: 48px;
    }

    .slider__money-form,
    .slider__pig-form,
    .slider__snapshot-form,
    .slider__phone-form {
        margin: auto;
    }

    .slider__money-info,
    .slider__pig-info,
    .slider__snapshot-info,
    .slider__phone-info {
        padding: 0;
        margin: 0;
        margin-bottom: 110px;
    }

    .slider__button {
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .slider__button__displayed {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* SLIDER: */

    /* OFFER: */
    .offer {
        margin-top: 120px;
    }

    .offer__wrapper {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .offer__h2 {
        max-width: 534px;
    }

    .offer__image {
        text-align: center;
    }

    /* OFFER: */

    /* DESCRIPTION: */
    .description__wrapper {
        align-items: center;
        display: block;
    }

    .description__h1 {
        width: 100%;
        text-align: center;
    }

    .description__panel {
        max-width: 750px;
        margin: auto;
    }

    .description__item {
        max-width: 205px;
    }

    .description__image-wrapper {
        text-align: center;
    }

    .description__image {
        width: 170px;
        height: auto;
    }

    .description__caption {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }

    .description__bg-pic,
    .description__bg-pic-2 {
        display: none;
    }

    /* DESCRIPTION: */

    /* AUTOMATE: */
    .automate {
        margin-top: 110px;
    }

    .automate__wrapper {
        flex-direction: column;
        padding-top: 60px;
        background-position: 130% -50%;
    }

    .automate__h1 {
        margin: auto;
        float: initial;
        text-align: center;
    }

    .automate__paragraph {
        text-align: center;
        padding-top: 24px;
        margin-bottom: 48px;
    }

    .automate__panel {
        margin-left: 0;
        display: block;
        margin: 0 auto;
        max-width: 440px;
    }

    /* AUTOMATE: */

    /* BANKS: */
    .banks {
        margin-top: 110px;
    }

    .banks__h1 {
        text-align: center;
        margin-bottom: 70px;
    }

    .banks__panel {
        flex-direction: column;
        align-content: center;
    }

    .banks__panel-item {
        margin-bottom: 30px;
    }

    .banks__panel div:last-child {
        margin-bottom: 0px;
    }

    /* BANKS: */

    /* AUDIENCE: */
    .audience {
        margin-top: 110px;
    }

    .audience__h1 {
        text-align: center;
        margin-bottom: 70px;
    }

    .audience__panel {
        max-width: 750px;
        margin: auto;
    }

    .audience__item {
        width: initial;
        max-width: 200px;
    }

    .audience__image {
        width: 145px;
        height: auto;
    }

    .audience__h3,
    .audience__p {
        padding: 0;
    }

    .audience__p {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.443077px;
    }

    .audience__bg-pic {
        height: 326px;
        width: auto;
        transform: translate(0%, -110%);
    }

    /* AUDIENCE: */

    /* CASES: */
    .cases {
        margin-top: 110px;
        overflow: hidden;
    }

    .cases__panel {
        width: 970px;

        position: relative;
        left: 0;
    }

    .cases__item {
        width: 310px;
        padding: 30px 24px 0px 24px;
    }

    .cases__h1 {
        text-align: center;
        margin-bottom: 70px;
    }

    .cases__bg-pic {
        height: 467px;
        width: auto;
    }

    .cases__button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
    }

    .cases__button {
        width: 12px;
        height: 12px;

        border: 1px solid $sliderButtonBorder;
        border-radius: 15px;

        margin: 0px 8px 0px 8px;
    }

    .cases__button__displayed {
        width: 15px;
        height: 15px;
        border: none;
        background: $gradient-blue;

        margin: 0px 7px 0px 6px;

        transform: translate(0, -1.5px);
    }

    /* CASES: */

    /* TARIFFS: */
    .tariffs__wrapper {
        border: $debugBorder;
        max-width: 638px;
        grid-template-areas:
            'header header'
            'summary img'
            'form form';
        grid-template-columns: 383px 257px;
        margin: auto;
    }

    .tariffs__h1 {
        margin-bottom: 70px;
        text-align: center;
    }

    .tariffs__p {
        @include desktop-text-info;
        margin-bottom: 0;
        width: 381px;
    }

    .tariffs__form {
        width: 440px;
        height: 48px;
        background: $lightBlue;
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        margin: 40px auto 0 auto;

        input[type=text] {
            padding-left: 20px;
            border: 0;

            width: 100%;

            border-radius: 44px;

            font-family: 'Avenir-Next';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.96px;
            background: $lightBlue;
            color: $textColor;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &::placeholder {
                color: $blue;
            }

            &:focus {
                outline: 0;
            }
        }

        input[type=submit] {
            padding: 12px 53px 12px 53px;
            background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
            border-radius: 44px;
            border: 0;
            font-family: 'Avenir-Next';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.443077px;
            color: white;

            transition: all .5s ease-in;

            &:hover {
                box-shadow: $blackShadow;
            }
        }
    }

    .tariffs__email-done {
        margin: auto;

        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.96px;

        display: none;
    }
    /* TARIFFS: */

    /* COMING-SOON: */
    .coming-soon {
        margin-top: 110px;
    }

    .coming-soon__h1 {
        text-align: center;
        margin-bottom: 38px;
    }

    .coming-soon__item {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .coming-soon__h2 {
        text-align: center;
        margin-top: 32px;
    }

    .coming-soon__p {
        width: 47vw;
        margin-top: 22px;
        margin-bottom: 32px;
        transform: translate(30px, 0);
    }

    /* COMING-SOON: */

    /* SAFETY: */
    .safety {
        margin-top: 110px;
    }

    .safety__wrapper {
        flex-wrap: wrap;
    }

    .safety__wrapper .safety__img-wrapper:first-child {
        display: none;
    }

    .safety__h1 {
        display: none;
    }

    .safety__h1-mobile {
        display: block;
        font-family: 'Avenir-Next';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        width: 100%;
        text-align: center;
        letter-spacing: 0.985946px;
        margin-bottom: 70px;
    }

    .safety__img {
        margin-left: initial;
        width: 200px;
        height: auto;
    }

    .safety__text {
        margin: 0;
        max-width: 420px;
        padding-left: 20px;
    }

    .safety__p {
        @include desktop-text-info;
        margin: 0;
    }

    /* SAFETY: */

    /* FOOTER: */
    .footer {
        margin-top: 120px;
        background-image: none;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer__text {
        margin-top: 70px;
    }

    .footer__h1,
    .footer__h2,
    .footer__contact-info {
        text-align: center;
    }

    .footer__form {
        margin-top: 70px;
    }

    #footer__form-p {
        @include desktop-text-info;
    }

    .footer__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 70px;
    }

    .footer__confidentiality {
        margin: 0;
        display: inline;
    }

    .footer__copyright {
        margin-top: 12px;
        display: inline;
    }

    .footer {
        padding-bottom: 40px;
    }

    /* FOOTER: */
}

@media only screen and (max-width: $mobileMaxWidth) {

    /* For mobile: */
    body {
        padding-top: 10px;
    }

    .wrapper {
        max-width: 87.5vw;
        width: 87.5%;
    }

    /* HEADER BEGIN */
    .header {
        padding: 10px 0;
    }

    .header__opened {
        position: fixed;
        top: 0px;
        left: 0px;
        padding-top: 20px;
        padding-bottom: 0;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }

    /* HEADER END */

    /* SLIDER: */
    .slider__money,
    .slider__pig,
    .slider__snapshot,
    .slider__phone {
        min-width: 87.5vw;
        width: 87.5vw;
        margin-top: 45px;
    }

    .slider__money-info,
    .slider__pig-info,
    .slider__snapshot-info,
    .slider__phone-info {
        width: initial;
        max-width: 400px;
        margin-bottom: 0px;
    }

    .slider__money-header,
    .slider__pig-header,
    .slider__snapshot-header,
    .slider__phone-header {
        @include mobile-h1;
    }

    .slider__money-p,
    .slider__pig-p,
    .slider__snapshot-p,
    .slider__phone-p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.443077px;
        margin-bottom: 30px;
    }

    .slider__money-img,
    .slider__pig-img,
    .slider__snapshot-img,
    .slider__phone-img {
        width: 230px;
        height: auto;
    }

    .slider__money-form,
    .slider__pig-form,
    .slider__snapshot-form,
    .slider__phone-form {
        display: none;
    }

    .slider__button {
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .slider__button__displayed {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* SLIDER: */

    /* OFFER: */
    .offer {
        margin-top: 0px;
    }

    .offer__h2 {
        margin-bottom: 12px;
    }

    .offer__h2,
    .offer__paragraph {
        width: 100%;
    }

    /* OFFER */

    /* DESCRIPTION: */
    .description {
        margin-top: 110px;
    }

    .description__h1 {
        @include mobile-h1;
        margin-bottom: 40px;
    }

    .description__panel {
        flex-direction: column;
        align-items: center;
    }

    .description__item {
        margin-bottom: 40px;
    }

    .description__caption {
        margin-top: 10px;
    }

    .description__panel .description__item:last-child {
        margin-bottom: 0px;
    }

    /* DESCRIPTION: */

    /* AUTOMATE: */
    .automate {
        background: $lightBlue;
        background-image: url("../img/bg-lattice-mobile.svg");
        background-repeat: no-repeat;
        background-position: 100% 15%;
        margin-top: 45px;
    }

    .automate__wrapper {
        background-image: none;
        padding: 60px 0 60px 0;
        background: none;
    }

    .automate__h1 {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.44px;
    }

    .automate__paragraph {
        width: 100%;
        padding-top: 12px;
        margin-bottom: 20px;
    }

    .automate__form {
        width: 100%;

        input[type=submit] {
            padding: 12px 27px 12px 27px;
        }
    }

    /* AUTOMATE: */

    /* BANKS: */
    .banks__h1 {
        @include mobile-h1;
        text-align: center;
        margin-bottom: 40px;
    }

    .banks__panel-item {
        width: 100%;
        padding: 20px 16px 0px 20px;
    }

    .banks__img {
        max-width: 49%;
        height: auto;
    }

    .banks__list img {
        width: 45px;
        height: auto;
        margin-right: 15px;
    }

    .banks__list li {
        margin-bottom: 20px;
    }

    .banks__list li:last-child {
        margin-bottom: 20px;
    }

    /* BANKS: */

    /* AUDIENCE: */
    .audience {
        margin-top: 110px;
    }

    .audience__h1 {
        @include mobile-h1;
        text-align: center;
        margin-bottom: 45px;
    }

    .audience__panel {
        flex-direction: column;
        align-items: center;
    }

    .audience__item {
        margin-bottom: 40px;
    }

    .audience__panel .audience__item:last-child {
        margin-bottom: 0px;
    }

    .audience__h3,
    .audience__p {
        text-align: center;
    }

    .audience__p {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.443077px;
    }

    /* AUDIENCE: */

    /* CASES: */
    .cases__panel {
        width: 698px;
    }

    .cases__h1 {
        margin-bottom: 40px;
    }

    .cases__item {
        width: 222px;
        min-height: 213px;
        padding: 20px 16px 0px 16px;
    }

    .cases__image-group img {
        width: 40px;
        height: auto;
    }

    .cases__h3 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.44px;
    }

    /* CASES: */

    /* TARIFFS: */
    .tariffs {
        margin-top: 60px;
    }
    .tariffs__wrapper {
        grid-template-areas:
            'img'
            'header'
            'summary'
            'form';
        grid-template-columns: 100%;
    }

    .tariffs__img {
        max-width: 65%;
        margin: auto;
        margin-bottom: 55px;
    }

    .tariffs__h1 {
        @include mobile-h1;
        margin-bottom: 40px;
        margin-top: 0px;
    }

    .tariffs__p {
        max-width: 420px;
        width: 100%;
        margin: auto;
    }

    .tariffs__form {
        width: 100%;
        max-width: 440px;

        input[type=submit] {
            padding: 12px 27px 12px 27px;
        }
    }
    /* TARIFFS: */

    /* COMING-SOON: */
    .coming-soon {
        margin-top: 95px;
    }

    .coming-soon__h1 {
        @include mobile-h1;
        margin-bottom: 10px;
        text-align: center;
    }

    .coming-soon__h2 {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.44px;
        min-width: initial;
        padding-left: 33px;
        text-align: left;
    }

    .coming-soon__p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.443077px;
        padding-left: 33px;
        transform: none;

        &::before {
            content: url('../img/p-dash-mobile.svg');
            font-size: 40px;
            transform: translate(-140%, -40%);
        }
    }

    .coming-soon__h3 {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.44px;
        margin-top: 30px;
    }

    /* COMING-SOON: */

    /* SAFETY: */
    .safety {
        margin-top: 127px;
    }

    .safety__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .safety__wrapper .safety__img-wrapper:first-child {
        display: block;
        max-width: 100%;
        width: 100%;
        img {
            width: 65%;
            height: auto;
            margin: auto;
        }
    }

    .safety__wrapper .safety__img-wrapper:nth-last-child(2) {
        display: none;
    }

    .safety__h1-mobile {
        display: block;
        @include mobile-h1;
        margin-bottom: 40px;
        margin-top: 60px;
    }

    .safety__text {
        width: 100%;
        padding-left: 0;
    }

    /* SAFETY: */

    /* FOOTER: */
    .footer {
        margin-top: 30px;
    }

    .footer__text {
        margin-top: 60px;
    }

    .footer__h1 {
        @include mobile-h1;
    }

    .footer__h2 {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.443077px;
        width: 100%;
    }

    .footer__contact-info {
        @include desktop-text-info;
    }

    #footer__form-p {
        @include desktop-text-info;
    }

    #footer__form-name,
    #footer__form-email,
    #footer__form-textarea {
        width: 100%;

        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.96px;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 40px;
    }

    .footer__confidentiality {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.443077px;
        margin-top: 0;
    }

    .footer__copyright {
        margin-top: 15px;
    }

    /* FOOTER: */
}



/* LANDING TEST STYLE END */
/* LANDING TEST STYLE END */
/* LANDING TEST STYLE END */